{{/** 
    title : banner
    layout :
      - business
  **/}}
<div class="bg-aa-gray-700 bg-no-repeat bg-cover bg-center" style="background-image: url(/img/R2-Scanned000016.jpg);">
  <div class="py-36">
    <div class="text-center">
      <h2 class="mb-8 text-4xl leading-none text-white">평화월딩영상아카이브</h2>
      <h2 class="mb-8 text-4xl leading-none text-white">Peace Working Film Archive</h2>
      <div class="mx-auto mb-8 max-w-4xl text-base leading-7 text-white lg:text-lg">
        <p>2026년 아카이브는 아래와 같은 아이템 및 연관 콘텐츠를 제공하고 있습니다.</p>
        <p>2026년까지 평화월딩연구소가 수집한 한국전쟁 / DMZ&판문점 / 일본군'위안부' / The Big Picture 관련된 영상 아이템을 중심으로 오픈합니다.</p>
      </div>
      <div class="flex justify-center">
        <a href="/about" target="_blank">
          <button class="inline-flex rounded-full border-0 bg-blue-500 px-6 py-2 text-lg text-white hover:bg-blue-600 focus:outline-none">소개보기</button>
        </a>
      </div>
    </div>
  </div>
</div>
